* {/*Applique à toute la page*/
    padding: 0; /*pas de marge intérieur*/
    margin: 0; /*pas de marge extérieur*/
    list-style: none;/*retire tous les déltails des li de types puce etc*/
    box-sizing: border-box;/*Indique que les éléments sont contenu dans leurs box*/
    font-family: arial, sans-serif;/* Type de police pour toute la page*/
}


body{
    background: linear-gradient(to top, #d1913c, #ffd194);/*applique un gradient sur tout le fond de la page*/
}

        /*HEADER*/

header {
    position: relative;/*positionne dans le flux normal du document puis en décalé cependant le décalage n'a pas d'impact sur la position des éléments*/
}


#logo {
    display: block; /*génère une boite d'élément générant des sauts de lignes avant & après dans le flux normal*/

    /*permet de centrer l'élément*/
    margin-left: auto;/*marge automatique partant de la gauche*/
    margin-right: auto;/*marge automatique partant de la droite*/

    /*Redimentionne le logo*/
    width: 170px;/*en largeur*/
    height: 170px;/*en hauteur*/
}


#connexion {
    width: 30px;/*Redimentionne l'élément en largeur*/
    height: 30px;/*Redimentionne l'élément en hauteur*/
    display: block;/*génère une boite d'élément générant des sauts de lignes avant & après dans le flux normal*/
    right: 10px;/*Mets l'élément à 10pixel de la droite*/
    top: 10px;/*Mets l'élément à 10pixels du haut*/
    margin: 15px;/*Ajoute une marge de 15pixels autour de l'élément*/
    position: absolute;/*L'élément est retiré du flux normal et aucun espace n'est créer pour lui sur la page, position finale déterminé par les valeurs de top, right, bottom, top (par son anêtre le plus proche ou le bloc englobant)*/
}

#inscription {
    width: 30px;/*Redimentionne l'élément en largeur*/
    height: 30px;/*Redimentionne l'élément en hauteur*/
    display: block;/*génère une boite d'élément générant des sauts de lignes avant & après dans le flux normal*/
    right: 50px;/*Mets l'élément à 10pixel de la droite*/
    top: 10px;/*Mets l'élément à 10pixels du haut*/
    margin: 15px;/*Ajoute une marge de 15pixels autour de l'élément*/
    position: absolute;/*L'élément est retiré du flux normal et aucun espace n'est créer pour lui sur la page, position finale déterminé par les valeurs de top, right, bottom, top (par son anêtre le plus proche ou le bloc englobant)*/
}


        /*NAVBAR*/

.checkbox {
    display: none;
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}
          
.navbar {
    width: 100%;
}
          
          .nav-container {
            display: flex;
            align-items: center;
            height: 62px;
          }
          
          .navbar .menu-items {
            display: flex;
            justify-content: center;
          }
          
          .navbar .nav-container li {
            list-style: none;
            margin: 0 25px;/*n'applique pas de marge sur l'axe vertical et en mets 25pixels sur l'axe horizontale*/
          }
          
          .navbar .nav-container a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.7rem;
          }
          
          .navbar .nav-container a:hover{
              font-weight: bolder;
          }
          
          .nav-container {
            display: block;
            position: relative;
            height: 60px;
          }

.menu-items a {
    text-decoration: none;/*retire le soulignement des liens*/
    color: white;
    transition: color .3s ease-in-out;
}

.menu-items a:hover {
    color: #572d06;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }



        /*PAGE PRINCIPALE*/

section {
    display: flex;/*active le positionnement en flexbox*/
    justify-content: center;/*Nous centre à l'élément parent*/
    align-items: center;/*Centre sur l'axe des X*/
    height: 100vh;/* Hauteur de la taille de l'écran */
} 


#centre {
    background-color: rgba(255, 255, 255, .5);/*Couleur arrière plan avec niveau de transparence*/
    height: 95vh;
    width: 80%;
    margin: 30px 70px 30px 70px;/*marges extérieurs haut, droite, bas, gauche de l'élément*/
    padding: 20px;/*marges intérieur de l'élément*/
    border-radius: 50px;/*Bords arrondies*/
    overflow: hidden auto;/*contient le texte dans sa "boite" avec hidden et le fait scroll vers le bas automatiquement si besoin en fonction des dimensions de la page*/
}

                /*MENU DU JOUR*/

span h3 {
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    border-bottom: black 2px solid;
}
.menudujour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;/*centre automatiquement l'élément*/
    width: 100%;/*Prend toute la largeur*/
    max-width: 1200px;/*reste centrer au dessus de 1200px*/
    grid-gap: 24px;
}

.menu{
    position: relative;
    padding-bottom: 150%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu-background {
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    filter: brightness(0.90) /*luminosité*/ saturate(1.2) /*saturation*/ contrast(0.95) /*contrast*/;
    transition: .3s;
}

.autre {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    font-family: arial, sans-serif;
    color: white;
}


.autre h3 {
    text-transform: uppercase;/*Mets toutes les lettres en MAJ*/
    font-size: 1.9rem;
    color: rgba(255, 255, 255, .9);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}

.autre p {
    color: rgba(255, 255, 255, .6);
    margin-bottom: 10px;
    font-size: .9rem;
}

.menu:hover .menu-background {
    transform: scale(1.05);
}

.menudujour:hover > .menu:not(:hover) > .menu-background {
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
}

                    /*LISTES*/

.liste {
    margin: 25px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.liste li {
    margin: 10px;
}
.liste a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;/*retire le soulignement des liens*/
}

.liste a:hover {
    font-weight: 700;
}

        /*TOP RECETTE*/

.top ul{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top li a {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;/*retire le soulignement des liens*/
    color: grey;
}

.top img {
    align-self: center;
    height: 192px;
    width: 150px;
}
        /*BAS DE PAGE*/

footer {
    font-size: 20px;/*taille de la police de 20px*/
    color: whitesmoke;/*couleur de la police d'écriture*/
    display: flex;/*active le positionnement en flexbox*/
    flex-direction: column;/*Mets les éléments du footer en colonne*/
    align-items: center;/*Centre les éléments en milieu de page*/
    padding: 20px;/*Ajoute des marges intérieurs de 20px*/
    background: #d1913c;/*couleur du fond du footer*/
    box-shadow: -19px -19px 34px #ffb44a;/*Ajoute des ombres autour de l'élément pour le faire ressortir*/
}


footer li {
    margin: 15px;/*Ajoutes des marges extérieurs de 15px pour chaqu'un des éléments de la liste*/
    height: 70px;/*Hauteur d'un élément*/
    width: 70px;/*Largeur d'un élément*/
    display: inline-flex;/*Active le positionnement flexbox dans une ligne*/
    justify-content: center;/*Positionne l'élément au centre horizontalement dans leur contenant*/
    align-items: center;/*Positionne l'élément au centre verticalement dans leur contenant*/
    border-radius: 50px;/*Arrondie la bordure*/
    background: #d1913c;/*Couleur du fond de l'élément*/
    box-shadow:  6px 6px 12px #a97531,/*Ajoutes de l'ombre en bas à droite de l'élément à l'extérieur*/
                 -6px -6px 12px #f9ad47;/*Ajoutes de l'ombre en haut à gauche à l'extérieur de l'élément*/
}

footer li:hover {/*action au passage de la souris*/
    box-shadow: inset 6px 6px 12px #a97531,/*ajoute de l'ombre en bas à droite à l'intérieur de l'élément*/
                inset -6px -6px 12px #f9ad47;/*ajoute de l'ombre en haut à gauche à l'intérieur de l'élément*/ 
}


#reseaux img {
    height: 50px;/*redimentionne en hauteur l'image des réseaux sociaux*/
    width: 50px;/*redimentionne en largeur l'image des réseaux sociaux*/
}



@media screen and (max-width: 900px) {


    /*BARRE DE NAV*/

    
    
      
      .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: -140px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: -140px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      
      .navbar .menu-items {
        background: linear-gradient(to top, #d1913c, #ffd194);/*applique un gradient sur tout le fond de la page*/
        padding-top: 100px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 100vh;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
      }
      
      .navbar .menu-items li {
        display: flex;
        justify-content: center;
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      
      
      .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
      

}